<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kristinfinalproject.aleademo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".KristinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".DialogActivity" />
        <activity
            android:name=".activity_a"
            android:launchMode="standard" />
        <activity
            android:name=".activity_b"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity_c"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity_d"
            android:launchMode="singleInstance" />
        <activity android:name=".util.TimerActivity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".AnimatorActivity" />
        <activity android:name=".util.QuizDialogActivity" />
        <activity android:name=".Service" />

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>